@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.template--list {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.template {
  display: flex;
  height: 25em;
  position: relative;
  /* margin-left: 0.5em; */
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.template--images {
  border-radius: 1.5em;
  width: 240px;
  height: 370px;
  margin-left: 1em;
  margin-right: 1em;
}

.template--button--fav {
  position: absolute;
  cursor: pointer;
  font-size: xx-large;
  left: 1em;
  color: goldenrod
}
.template--button__remove{
  position: absolute;
  cursor: pointer;
  font-size: xx-large;
  left:7em ;
  color: red
}

.template--list__editor {
  width: 38em;
  padding: 1em;
  background-color: #a4a1a1;
  margin-top: 0;
  margin-left: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height:63em;
}
.template--list__editor .template {
  height: 25rem;
  margin: 0.05em;
}
.menu {
  width: 100%;
}

.menu--element, .logout__button {
  padding: 0.5em;
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  margin: 1em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 120%;
}

.logout__button {
  background-color: rgb(255, 175, 188);
}

.loader {
  justify-content: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2C2287;
  border-bottom: 16px solid #2C2287;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 7em 45em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}