* {
  margin: 0;
}

.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
  margin-top: 3em;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  height: 36em;
  width: 35em;
  box-shadow: 0em 0em 10em lightgrey;
  border-radius: 10%;
}

.login__header {
  display: flex;
  justify-content: center;
  font-size: 4em;
  margin-bottom: 1em;
}

.login__username {
  font-size: 2em;
  color: grey;
}

input {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15em;
  border: none;
  border-bottom: solid;
  text-align: center;
  font-size: 1.5em;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0em 0em 5em lightgrey;
}

.login__password {
  font-size: 2em;
  color: grey;
}

.login__button {
  font-size: 2em;
  margin-top: 1.7em;
  width: 10em;
  height: 2em;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.login__button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.login__button:active {
  color: #000;
}

.login__button:active:after {
  background: transparent;
}

.login__button:hover:before {
  opacity: 1;
}

.login__button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.errorlogin{
  display: flex;
  justify-content: center;
  text-decoration: italic;
  color: red;
  font-size: 1em;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.popup-box {
  position: fixed;
  background: #363434f3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  text-align: center
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(30% - 10px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 40px;
}