@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
}
.landing-page{
  background: url(./01_LeadMath_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 59em;
}
.login__wrapper {
  display: flex;
  float: right;
  margin: 2rem;
  margin-top: 0;
  z-index: 1;
  margin-bottom: 10em;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  margin: 3em 1.7em 0em;
  font-size: 3em;
  width: 17em;
}
.description__button{
  margin: 2em 3.8em;
}

.logo {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 30%
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
  margin-top: 4em;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  height: 36em;
  width: 35em;
  box-shadow: 0em 0em 10em lightgrey;
  border-radius: 10%;
}

.header__logo {
  width: 14em;
  margin: 3em 5em;
}
.button{
  background: linear-gradient(to top right, #33ccff 0%, #6600cc 100%);
  padding: 0.6em 2.6em;
  border-radius: 1em;
  border: none;
  color: whitesmoke;
  font-size: 1.5em;
  cursor: pointer;
}
.header__login{
  float: right;
  margin-top: 1.5em;
  margin-right: 3em;
}
.button:hover{
  background: linear-gradient(to bottom left, #33ccff 0%, #6600cc 100%);
}

.login__username {
  font-size: 2em;
  color: grey;
}
.landing__second{
  display: flex;
  flex-direction: row;
  margin-top: 20em;
  margin-left: 9em;
  margin-right: 10em;
  justify-content: space-between;
  margin-bottom: 2em;
}
.landing__photo{
margin-top: 1em;
}
input {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15em;
  border: none;
  border-bottom: solid;
  text-align: center;
  font-size: 1.5em;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0em 0em 5em lightgrey;
}

.login__password {
  font-size: 2em;
  color: grey;
}

.login__button {
  font-size: 2em;
  margin-top: 1.7em;
  width: 10em;
  height: 2em;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 0;
}

.errorlogin{
  display: flex;
  justify-content: center;
  text-decoration: italic;
  color: red;
  font-size: 1em;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.popup-box {
  position: fixed;
  background: #363434f3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  text-align: center
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(30% - 10px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 20px;
  align-items: center;
  border: 1px solid #999;
  font-size: 40px;
}
.footer{
  height: 3em;
  background-color: #f1f7ff;
}
.footer p{
  font-family: 'Montserrat', sans-serif;
  color: #999999;
  margin-left: 2em;
  padding-top: 1em;
}