* {
  margin: 0;
  padding: 0;
}

.template--wrapper {
  max-height: 842px;
  min-width: 595px;
  margin-bottom: 1em;
  font-size: 0.55em;
  height: 842px;
  padding: 0em;
  background: #f5f5f5;
  /* border: solid #666; */
  /* border-width: 8px 0 2px 0; */
  box-shadow: 0 2px 5px 5px rgba(78, 78, 78, 0.5);
}

/* [contenteditable="true"]:focus {
  outline: none;
} */

.editor {
  font-size: 0.9em;
  padding-top: 0;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 595px;
  max-height: 842px;
  background-color: rgb(77, 48, 13);
  word-wrap: break-word;
}
.editor--button {
  background-color: rgb(115, 168, 115);
  font-size: 1.5em;
  padding: 3px;
  text-align: center;
  border-color: rgb(115, 168, 115);
  border-radius: 12px;
}
/*-----------------------------------------Template id=0 --------------------------------------------*/
#id0 .inner {
  line-height: 1.185;
  padding: 5em;
  height: 100%;
}

#id0 .msg {
  padding: 10px;
  background: #222;
  position: relative;
}
#id0 .msg h1 {
  color: #fff;
}
#id0 .msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
#id0 .msg a:hover {
  background: #266400;
}
#id0 .yui-gf {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

#id0 #hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#id0 #hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#id0 #bd,
#id0 #ft {
  margin-bottom: 1em;
}

#id0 #ft {
  padding: 1em 0 5em 0;
  font-size: 1em;
  border-top: 1px solid #ccc;
  text-align: center;
}
#id0 #ft p {
  margin-bottom: 0;
  text-align: center;
}
/*-----------------------------------------Template id=1 --------------------------------------------*/

#id1 .page-wrap {
  padding: 3em;
  font: 1.6em Helvetica, Sans-Serif;
  background: url(https://res.cloudinary.com/dh2zk8qgr/image/upload/v1648728701/noise_zxiyop.jpg);
  height: 100%;
}
#id1 .clear {
  clear: both;
}
#id1 .page-wrap {
  /* margin: 10px auto 10px; */
}
#id1 #pic {
  float: right;
  margin: -1 0 0 0;
  max-width: 8em;
  max-height: 12em;
}
#id1 h1 {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  border-bottom: 1px solid #999;
}
#id1 h2 {
  font-size: 1em;
  margin: 0 0 0.2em 0;
  position: relative;
}
#id1 h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 0.8em;
  color: #999;
  font-weight: normal;
}
#id1 p {
  margin: 0 0 0.8em 0;
}
#id1 a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
#id1 a:hover {
  border-bottom-style: solid;
  color: black;
}
#id1 ul {
  margin: 0 0 1em 0.5em;
}
#id1 #objective {
  /* width: 500px; */
  float: right;
}
#id1 #objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
  margin: 4px;
}
#id1 dt {
  font-style: italic;
  font-weight: bold;
  font-size: 0.6em;
  text-align: left;
  width: 6em;

  /* width: 150px; */
  float: left;
  height: 7em;
  border-right: 1px solid #999;
}
#id1 dd {
  /* width: 600px; */
  float: left;
  margin-left: 1em;
  width: 33em;
}
#id1 dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
/*-----------------------------------------Template id=2 --------------------------------------------*/
@font-face {
  font-family: "bison";
  src: url("https://res.cloudinary.com/dh2zk8qgr/raw/upload/v1649250732/URW_DIN_Arabic_Cond_Medium_kl7foy.ttf")
    format("truetype");
}
#id2 .body{
  font-family: 'Courier New', Courier, monospace;
  background: url("https://res.cloudinary.com/dh2zk8qgr/image/upload/v1649257249/background_xp5n6a.webp");
  height: 100%;
}
#id2 header{
  width: 100%;
  background: url("https://res.cloudinary.com/dh2zk8qgr/image/upload/v1649252546/header_rvdfbk.png");
  height: 11em;
  background-size: contain;
  background-repeat: no-repeat;
}
#id2 .introduction{
  display: flex;
  flex-direction: row;
  margin: 5em 10em 1em;
}
#id2 .introduction__img{
  width: 20em;
  height: 20em;
  margin-right: 4em;
  background: url("https://res.cloudinary.com/dh2zk8qgr/image/upload/v1649253133/photo_tdq7g0.png");
  background-size: cover;
  /* flex-basis: 125em; */
  border: none;
}
#id2 .introduction__bio{
  margin-top: 1.5em;
  width: 30em;
}
#id2 .introduction__bio h1{
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 0em;
}
#id2 .introduction__bio p{
  margin-top: 0;
  font-size: 1.3em;
  line-height: 1.4em;
}
#id2 .main{
  margin: 0.5em 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#id2 .right-bar{
  flex-basis: 35em;
}
#id2 .right-bar h2{
  font-size: 1.2em;
  margin-bottom: 0em;
}
#id2 .right-bar p{
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}
#id2 .right-bar__date{
  font-style: italic;
}
#id2 .left-bar h2{
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0;
}
#id2 .left-bar p{
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}
#id2 .main h1{
  font-family: 'bison', sans-serif;
  font-size: 2em;
  color: #a3c2f4;
  font-weight: 300;
  text-transform: uppercase;
}
